header {
    background-color: rgba(255, 255, 255, 0.90);
    position: relative;
    padding: 0.5em;
    left: 0px;
    top: 180px;
    z-index: 100;
    font-family: sans-serif;
}

button:hover {
    cursor: pointer;
}

#demo-img {
    height: 60vh
}

.text-btn {
    border: none;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    padding: 0;
    font-family: sans-serif;
}

#close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px;
    text-decoration: none;
    font-family: sans-serif;
    color: #565656;
}

#close:hover {
    color: #8e8c8c;
}